<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="http://localhost/Medicio/index.php?controller=home&action=home#hero" class="logo me-auto"><img   src="assets/img/Medicare.png" alt=""></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="http://localhost/Medicio/index.php?controller=home&action=home#hero">Trang chủ</a></li>
          <li><a class="nav-link scrollto" href="http://localhost/Medicio/index.php?controller=home&action=home#about">Giới thiệu</a></li>
          <li><a class="nav-link scrollto" href="http://localhost/Medicio/index.php?controller=home&action=home#services">Chuyên khoa</a></li>
          <li><a class="nav-link scrollto" href="http://localhost/Medicio/index.php?controller=home&action=home#doctors">Bác sĩ</a></li>
          <li><a class="nav-link scrollto" href="http://localhost/Medicio/index.php?controller=home&action=home#contact">Liên hệ</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

<!--      <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">ĐẶT LỊCH</span> KHÁM </a>-->
      <a href="http://localhost/Medicio/index.php?controller=home&action=appointment"
         class="appointment-btn scrollto"><span class="d-none d-md-inline">ĐẶT LỊCH</span> KHÁM </a>

    </div>
  </header>